<div class="container col-md-6 mx-auto mt-5 ">
  <h3>Devoir: {{ currentHomework.title }}</h3>
  <div class="form-group">
    <input type="file" class="form-control" (change)="onUpload($event)" #documentFile style="display: none;"/>
    <button type="button" class="btn btn-light border rounded" (click)="documentFile.click()">
      Upload file <i class="fa fa-file lg" aria-hidden="true"></i>
    </button>
  </div>

  <div class="alert-info" style="padding: 5px; margin-top: 10px;" *ngFor="let item of files;">
    {{ item.title }}
    <button type="button" class="btn btn-light pull-right" (click)="onDownload(item.title)">download</button>
    <button type="button" class="btn btn-light pull-right" (click)="onDelete(item.id)">del</button>
  </div>
</div>

