<div class="container col-md-8 mx-auto mt-5 ">
  <h3>Liste des documents</h3>

  <form [formGroup]="createForm" (submit)="onSubmit()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title" style="display: inline-block;">
      <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 5px;">Create Document</button>
    </div>
  </form>

  <div class="alert-info" style="padding: 5px; margin-top: 10px;" *ngFor="let item of documents;">
    {{ item.title }}
    <button type="button" class="btn btn-light pull-right" (click)="onDelete(item)">del</button>
    <button type="button" class="btn btn-light pull-right" (click)="onDetails(item)">files</button>

  </div>

</div>
